<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures the body takes up at least the full viewport height. */
}
.my_footer{
   width:100%;
   background-color:#f8f9fa;
   color: Black;
   text-align: center;
   padding: 10px 0; /* Add some padding to the footer for better appearance. */
   margin-top: auto;
</style>
</head>
<body>

<div class="my_footer">
  <p>&copy; 2023 ABC BANK PVT LTD. All rights reserved.</p>
</div>

</body>
</html>
